@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import "tailwindcss";

/* :root{
  --primary: #0f0f1a;
  --themebg: #111120;
  --theme-color: #452f9e;
  --theme-color2: #261569;
} */

@theme {
  --font-oxanium: "Oxanium", "sans-serif";
  --color-themebg: #111120;
  --color-bodybg: #0f0f1a;
  --color-theme: #452f9e;
  --color-theme2: #261569;

}

body{
@apply font-oxanium bg-bodybg text-white;
}


.container{
  @apply mx-auto px-4;
}




/* color palette */

/* .dark-theme{
  background-color: var(--bg-primary);
}

.theme-bg{
  background: var(--bg-theme-color);
}
.theme-border{
  border: 1px solid var(--theme-color);
}
.theme-color{
  color: var(--theme-color);
}

.primary-bg{
  background: var(--theme-color);
} */

span.swiper-pagination-bullet {
  @apply bg-theme;
}

.primary_btn{
  @apply px-6 py-2 bg-theme hover:bg-theme2 rounded-lg cursor-pointer transition-colors  text-white;
}


.section_title{
  @apply text-3xl font-bold;
}