@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import "tailwindcss";

:root{
  --bg-primary: #0a0d12;
  --theme-color: #ff4800;
}

body{
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-primary);
  color: #fff;
}

.dark-theme{
  background-color: var(--bg-primary);
}
.container{
  @apply mx-auto px-4;
}

.theme-color{
  color: var(--theme-color);
}

.theme-bg{
  background-color: var(--theme-color);
}
